#hola {
    margin: auto;
    background-color:white;
    color:black;
    width: 150px;
    height: 25px;
    padding: 10px 15px 10px 5px;
    border-top: dashed blue ;
    border-right:solid red;
    border-bottom: 10px ridge green;
    border-left:   15px double orange ;

}
#hola2{
    margin: auto;
    background-color:white;
    color:black;
    width: 150px;
    height: 25px;
    padding: 10px 15px 10px 5px;
    border:solid blue 5px;
    margin-top: 75px;
}
#hola3{
    margin: auto;
    background-color:white;
    color:black;
    width: 150px;
    height: 25px;
    padding: 10px 15px 10px 5px;
    border: inset orange 5px;
    margin-top: 75px;
}
#hola4{
    margin: auto;
    background-color: white;
    color: black;
    width: 150px;
    height: 25px;
padding: 10px 15px 10px 5px;
border: outset orange 5px;
margin-top: 75px;

}
#hoverh1{
    color: red; 
}
    
#hoverh1:hover{
    
        color: green;
}
#hoverp:hover{
    font-size: 20px;
}
#marca:link{
    padding: 10px;
    color: blue;
    font-size: 20px;
}
#marca:visited{
    color: red;
}

#marca:hover{
    color: white;
    background-color: red;
    text-transform: uppercase;
}

#marca:active{
    color: purple;
    
    text-decoration: underline;
}
#lista1{
    background-color: yellow;
    border: 10px;
    border-color: yellow;
}

ul{

    list-style-type: square;

    background-color: rgb(51, 255, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 300px;
    height: 70px;
   

}
#lista2{
    background-color: rgb(166, 255, 0);
    margin-bottom: 5px;
}
#cafe{
    background-color: orange;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 20px;
    width: 300px;
    height: 70px;
    
}
